<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <style>
        body{
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        :root{
            --small-padding: 5px;
            --medium-padding: 10px;
            --margin-top: 10px;
            --border-radius: 5px;
        }
        .container{
            width: 1000px;
            max-width: 100%;
            margin: 30px auto;
        }
        .card{
            border: 1px solid rgb(169, 162, 162);
            width: 800px;
            max-width: 100%;
            margin: 10px auto;
            /* box-shadow: 1px 1px 8px 2px rgb(216, 212, 212); */
            border-radius: 5px;
        }
        nav{
            background-color: rgb(28, 28, 55);
            padding: var(--medium-padding);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        header{
            text-decoration: none;
            color: white;
            font-size: 25px;
            font-weight: bold;
        }
        nav button{
            width: 70px;
            padding: 10px;
            background-color: white;
            border: none;

        }
        .card a{
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
    <nav>
        <header><a href="/"> Blogg</a></header>
        <a href="/compose" >Create</a>
    </nav>

    <div class="container">

        
        <% blogs.forEach(blog => { %>
            <div class="card">
                <div class="card-body">
                    <div class="card-muted"><p>published at: <%= blog.timeStamp.createdAt  %>  </p></div>
                    <div class="card-title"><h5><%= blog.title  %>  </h5></div>
                    <div class="card-text"><%= blog.description %></div>
                    <a href = " /blog/<%= blog._id %> ">Read More...</a>
                    <a href = " /blog/delete/<%= blog._id %> ">Delete</a>
                    <a href = " /blog/edit/<%= blog._id %> ">Edit</a>
                </div>
    
            </div>
        <% }) %>
    </div>

    

</body>
</html> 